extends layout

block content
  .row
    h5.center-align#welcome Welcome to BitSum
    .col.s6.offset-s3
      p.center-align Use the form below to compute the number of bits in the binary representation of the product of two numbers.
      hr

  //- Container for the react components      
  .row#react-container